*
    margin 0
    font-family 'Comfortaa', cursive

html, body, #app, .app
    background-color black
    min-height 100%

.app
    display flex
    flex-direction column
    align-items center
    padding 1.5em
    padding-top (1.5em + header-size)

    position relative

    color white
